<div class="nav">
    {{#foreach navigation}}
            <li><a href="{{url absolute="true"}}" {{#if current}}class="current"{{/if}}>{{label}}</a></li>
    {{/foreach}}
            <li><a href="{{@blog.url}}/rss/">Subscribe</a></li>
</div>
